form {
    box-shadow: 3px 3px #b064a0;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2acdd;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    margin-top: 7px;
    display: inline-block;
}

body {
    font-family: "Cute Font", sans-serif;
    background-color: #f4d9fc;
    margin: 10px;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 2px;
}

input[type="submit"] {
    display: block;
    color: hotpink;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    font-family: "Cute Font", sans-serif;
    font-size: 30px;
}

input[type="file"] {
    display: block;
    color: hotpink;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    font-family: "Cute Font", sans-serif;
    font-size: 20px;
}

h1.formtitle {
    letter-spacing: 2px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: black;
}

h1, h2 {
    margin-right: 0px;
}

hr {
    border-top: 1px solid #f4d9fc;
}

.nav {
    background-color: black;
    overflow: hidden;
}

.nav a {
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

#home {
    float: left;
}

#login, #register , #profile {
    float: right;
}

form.gotw {
    float: right;
    margin: auto;
    margin-top: 7px;
    border-radius: 10px;
}

hr {
    color: #b064a0;
}

div.postlist {
    background-color: white;
    padding: 25px;
    max-width: 1000px;
    border-radius: 10px;
}

div.title {
    padding-left: 25px;
}

#center {
    margin: auto;
    display: flex;
}

#footer {
    position: fixed;
}