form {
    box-shadow: 3px 3px #a69bd1;
    border-radius: 5px;
    padding: 20px;
    width: max-content;
    background-color: lavender;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
}

body {
    font-family: "Cute Font", sans-serif;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 2px;
}

input[type="submit"] {
    display: block;
    color: hotpink;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    font-family: "Cute Font", sans-serif;
    font-size: 30px;
}

h1 {
    letter-spacing: 2px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: black;
}

body {
    background-color: #a69bd1;
}

hr {
    border-top: 1px solid #a69bd1;
}

.nav {
    background-color: black;
    overflow: hidden;
}

.nav a {
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

#home {
    float: left;
}

#login, #register {
    float: right;
}